/** { border: 1px solid black; }*/

.piece-container {
  max-width: 800px;
  margin: auto;
}

.piece-container > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.piece-image img {
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}

.piece-details {
  text-align: right;
}

.piece-description {
  text-align: justify;
}
