.admin-container {
  display: grid;
  grid-template-columns: 15em auto;
  width: 100vw;
  height: 100vh;
}

.admin-sidebar {
  border: 1px solid black;
}

.admin-content {
  border: 1px solid blue;
}
