.admin-middle-container {
  width: 80%;
  margin: 2em auto 5em;
}

.admin-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 12em auto;
}

.admin-sidebar {
  background: var(--dark-color);
}

.admin-sidebar-nav {
  display: flex;
  flex-direction: column;
}

.admin-sidebar-nav a {
  text-align: center;
  padding: 1em;
}

.admin-sidebar-nav a:hover {
  background: var(--white);
}

.admin-sidebar-title {
  text-transform: uppercase;
  text-decoration: none;
  background: var(--white);
  color: var(--black);
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
