.a-artlistthumbnail-container {
  display: flex;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
  margin: 1em 0 0;
  width: 20em;
  height: 20em;
  transition: opacity 1s;
}

.a-artlistthumbnail-container:hover {
  opacity: 0.75;
}

.a-artlistthumbnail-container p {
  width: 70%;
  margin: 2em 0;
  padding: 1em;
  border-top: 3px solid var(--black);
  border-left: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
  background: var(--white);
}
