.a-piecedetails-image img {
  max-width: 30em;
  max-height: 30em;
  width: auto;
  height: auto;
}

.a-piecedetails-table th {
  text-align: right;
  padding: 0.25em 2em;
}

.a-piecedetails-container {
  width: 80%;
  margin: 2em auto 5em;
}

.a-piecedetails-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-piecedetails-description {
  text-align: justify
}
