.a-pieceimage-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-pieceimage-imagebox img {
  max-width: 30em;
  max-height: 30em;
  width: auto;
  height: auto;
  margin-right: 4em;
}

.a-pieceimage-form input[type=file] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.a-pieceimage-imagelabel {
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: var(--dark-color);
  transition: all 1s;
}

.a-pieceimage-imagelabel:hover {
  cursor: pointer;
  background: var(--light-color);
}

.a-pieceimage-imagelabel svg {
  width: 1.5em;
  height: 1.5em;
  fill: var(--white);
}

.a-pieceimage-imagelabel svg path {
  color: var(--white);
}
