.a-slidecontainer {
  display: grid;
  grid-template-rows: 3em calc(100vh - 3em);
}

.a-slidecontainer-content {
  overflow: scroll;
  background: var(--white);
}

.a-slidecontainer-nav {
  background-color: var(--white);
  border-bottom: 1px solid var(--dark-color);
  display: flex;
}

.a-slidecontainer-nav a {
  color: var(--dark-color);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.5em;
}

.a-slidecontainer-nav a:hover {
  background: white;
}
